/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  margin: 70px auto;
} */

.container {
  border: 3px solid red;
  padding: 20px;
}

svg {
  border: 3px solid green;
}

#title {
  text-align: center;
  font-size: 2rem;

  margin: 0;
}

#subtitle {
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
}

#tooltip {
  border: 1px solid #000;
  background-color: lightblue;
  padding: 0.5rem;
  border-radius: 10px;

  cursor: pointer;
}

#legend {
  width: 400px;
  height: 150px;
  background-color: lightblue;
}
